h2 {
    background-color: rgb(99, 97, 97);
    padding-left: 15px;
    color: azure;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black;
    padding-bottom: 5px;
}

button {
    background-color: #6F4105 !important;
}

.container-fluid {
    min-height: 70px;
    font-size: 36px;
    text-align: center;
    color: azure;
    padding-top: 8px;
    border-radius: 5px;
    background: #6F4105;
    background: -moz-linear-gradient(top, #6F4105 0%, #070301 100%);
    background: -webkit-linear-gradient(top, #6F4105 0%, #070301 100%);
    background: linear-gradient(to bottom, #6F4105 0%, #070301 100%);
}

.five-day {
    display: flex;
}

#page-title {
    font-family: 'Yeseva One', cursive;
    text-shadow: 2px 2px 2px black;
}